nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #63666A;
    color:white;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .header img {
    width: 50px;
    height: 50px;
  }
  
  .header h3 {
    margin-left: 3%;
    width: 100%;
  }
  


.nav-links{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

a:visited{
    text-decoration: none;
    color:white;
}

a{
    text-decoration: none;
    color:white;
}

li:hover{
    background-color: white;
    color:black;
    
}