.inputFormaDiv input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .inputFormaDiv input[type=submit] {
    width: 100%;
    background-color: white;
    color: rgb(220,53,69);
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid rgb(220,53,69);
    border-radius: 4px;
    cursor: pointer;
  }
  
  .inputFormaDiv input[type=submit]:hover {
    background-color: rgb(220,53,69);
    color: white;
  }
  
.inputFormaDiv{
    border-radius: 5px;
    background-color: white;
    padding: 20px;
  }

  .inputFormaDiv input[type=date]{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .inputFormaDiv input:focus{
    outline: none;
    border: 1px solid rgb(220,53,69);
  }

  .inputFormaDiv select:focus{
    outline: none;
    border: 1px solid rgb(220,53,69);
  }

  .inputFormaDiv label{
    color:rgb(220,53,69);
  }
