.searchForm {
    width: 50%;
    display: inline-block;
    justify-content: flex-start;
    margin: 0.2rem 0 0;
    padding: 0 0.5rem 0.25rem;
    border-bottom: 1px solid #eee;
  }

.formaDiv{
      display: inline-block;
      margin-left: 2.5%;
}
  
  .searchForm label {
    position: absolute;
    left: -99999px;
  }
  
  .searchForm input[type='text'] {
    flex-grow: 1;
    max-width: 100%;
    min-height: 20px;
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    outline: none;
  }

  .searchForm select {
    flex-grow: 1;
    width: 100%;
    min-height: 20px;
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    outline: none;
  }

